.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #DDC6B6;
    border-bottom: #473c3e solid ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
    gap: 20px; 
    z-index: 1000;
}

.navbar .rightside {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 31%;

}

.navbar .leftside {
    height: 100%;
    display: flex;
    align-items: center;
    color: #262223;
    text-decoration: none;
    margin-left: 10%;
    flex: 1;
    font-size: 20px;
}


.navbar a{
    color: #262223;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

.rightside :hover{
    color: #948185;
    cursor: pointer;
}

.leftside :hover{
    cursor: pointer;
    color: #948185;
}


.navbar a:hover::before{
    width: 4.5%;
}

.contactbutton{
    position: fixed;
    top: 13px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #262223; /* Text color */
    border: 2px solid #262223; /* Button border color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    background-color: #DDC6B6;
    transition: background-color 0.3s ease;

   
}

.contactbutton:hover{
   background-color: #473c3e;
}

