.card{
    padding: 15px;
   
    --cui-card-border-width:5rem;
    color: red;
    border-color: black;
    border-width: 10rem;
    --cui-card-border-color: 'red'
    
}

.cc {
    width: 100px;
    border: 1px solid red;
}
.text{
    font-size: 10px;
    color: #262223;
}


.img{
    width: 10px;
    height: 10px;
}

.card-title{
    color: #262223;
}
