.card{
    padding: 20px;
   
    --cui-card-border-width:5rem;
    color: #fff;
    border-color: black;
    border-width: 10rem;
    --cui-card-border-color: 'red'
}

.text{
    font-size: 10px;
}


.img{
    width: 50%;
    height: 30%;
}